<style>
html, body { background: #253E7E; }
</style>
<%= image_tag('property.jpg', style: "height:100%; width: 100%;position:absolute;z-index:-1,right:0") %>

<div class="card ml-4" style="display:inline-block;margin-left:40%;padding:30px;margin-top:220px">
<%= form_for(resource, as: resource_name, style:"background-color: transparent",url: session_path(resource_name)) do |f| %>
  <h2>Agent Log in</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" , class:"btn btn-primary btn-sm"%>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
<% end %>
</div>

