
<%= render "layouts/navbar"%>
<% if agent_signed_in?%>
<div style="display:inline-block;margin-left:350px;padding:20px;margin-top:20px;width:50%">
<table class="table">
  <tr>
    
    
    <th class= "thead-dark">Smartlock Serial Number</th>
    <th> </th>
    
  </tr>
  
 
<% @smartlock.each do |post| %>
  <tr>
    <td><%= post.serial_num %></td>
    
   
    <td><%= link_to "assign" ,property_add_smartlock_path(params[:property_id],post.id), method: :patch,class:"btn btn-sm btn-primary" %>   </td>
    
  </tr>
<% end %>
<%= hidden_field_tag :property_id, params[:property_id] %>
</table>
<p class="notice" style="padding:10px"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>
<%end%>







