<html>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
  <div class="container-fluid">
    
    <%= link_to "Home", welcome_index_path, :class => 'navbar-brand active'  %>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      
      </li>
      
      
      <%if agent_signed_in? %>
      <li class="nav-item">
      <%= link_to "Company", companies_path, :class => 'nav-link'  %>
      </li>
      
      
      <li class="nav-item">
      <li class="nav-item">
      <%= link_to "Properties", properties_path, :class => 'nav-link'  %>
      </li>
        <%= link_to "Add Empty Smartlock", new_smartlock_path, :class => 'nav-link'  %>
        </li>
      <%else%>
      <li class="nav-item">
      <%= link_to "Properties", properties_path, :class => 'nav-link'  %>
      </li>
      

      <%if renter_signed_in? %>
      
      <%else%>
      <li class="nav-item">
        <%= link_to "Login", new_agent_session_path, :class => 'nav-link'  %>
        </li>
      <%= link_to "Create a new Company", new_company_path, :class => 'nav-link'  %>
      <%end%>
      </ul>
      
      
      
      <%end%>
      <% if agent_signed_in? %>
      <%= link_to "Logout", destroy_agent_session_path, method: :delete, :class => 'nav-link'  %>
      <%end%>
      
      <%if renter_signed_in? %>
      <%= link_to "Logout", destroy_agent_session_path, method: :delete, :class => 'nav-link'  %>
     <span style="color:white"> Welcome <%= current_renter.name  %></span>
      <%end%>

      
    
  </div>
</nav>



</body>

</html>